@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&family=Open+Sans&display=swap');

$main:#269ef8;

*,*::before,*::after{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html{
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-size: calc(1vw + 1vh);
}

::-webkit-scrollbar{
    width: 20px;
}

::-webkit-scrollbar-track{
    background-color: #2c3e50;
}

::-webkit-scrollbar-thumb{
    background-color: $main;
    border-radius: 10px;
    box-shadow: 0 0 1rem rgba($main,0.6);
    &:hover{
        background-color: darken($main,10%);
    }
}



body{
    line-height: 1.5;
    font-family: 'Open Sans', sans-serif;
    background-color: #111;
    color: white;
    transition: 500ms;
}

h1,h2,h3,h4{
    font-family: 'Montserrat', sans-serif;
}

i{color: inherit;}

a{
    text-decoration: none;
    color: inherit;
    font-family: inherit;
}

li{list-style: none;}
button{
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.container{
    width: 90%;
    margin: 0 auto;
}

::selection{
    background-color: $main;
    color: white;
}
// nav

.nav{
    padding: 0 5%;
    min-height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 100%;
    top: 0;
    color: white;
    z-index: 10;

    &__logo{
        width: 5rem;
        height: auto;
    }

    &__list{
        display: flex;
        align-items: center;
    }

    &__link{
        margin-left: 2rem;
        text-transform: uppercase;
        display: inline-block;
        position: relative;
        overflow: hidden;
        padding: 0.3rem;
        z-index: 2;
        &::before{
            content:'';
            width: 100%;
            height: 100%;
            background-color: $main;
            position: absolute;
            top: 0;
            left: 0;
            transform: translateX(105%);
            transition:transform 300ms ease-in;
            z-index: -1;
        }

        &:hover::before{
            transform: translateX(0);
        }

    }
}

.themeBtn{
    display: inline-block;
    width: 4rem;
    height: 2rem;
    background-color: $main;
    margin-left: 1rem;
    border-radius: 1rem;
    position: relative;
    transition: 300ms ease-in;
    &__switch{
        transition: 300ms ease-in;
        position: absolute;
        top:0.2rem;
        left: 0.2rem;
        width: 1.6rem;
        height: 1.6rem;
        background-color: white;
        border-radius: 50%;
    }
    
}

.moveSwitch{
    transform: translateX(2rem);
}
.lightMode{
    background-color: gray;
}
// header

.header{
    min-height: 70vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-image: radial-gradient(rgba(black,0.7),rgba(black,0.9)),url(../img/bg.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    &__title{
        font-size: 3rem;
        text-shadow: 0 0 1rem rgba($main,0.6) ;
        color:white;
    }

    &__sub{
        display: block;
        font-size: 1.5rem;
    }
}


.btnNav{
    width: 20px;
    height: 20px;
    display: block;
    border-radius: 50%;
    background-color: lime;
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
}

.btn__1{
    left: 45%;
}
.btn__3{
    left: 55%;
}

.gallery{
    padding: 4rem 0;

    &__title{
        font-size: 3rem;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 1rem;
    }
}

.search{
    display: flex;
    align-items: center;
    margin-bottom: 4rem;

    &__field{
        flex: 1;
        display: flex;
        align-items: center;
    }
    &__input{
        font-size: inherit;
        padding: 0.5rem;
        flex: 1;
        border: 2px solid gray;
        transition: all 400ms;
        height: 100%;

        &:focus{
            outline: none;
            border-color: $main;
        }
    }

    &__btn{
        display: inline-block;
        font-size: 1.5rem;
        color: white;
        background: $main;
        align-self: stretch;
        padding: 0 1rem;
        border: none;

        &:hover{
            background-color: darken($main,10%);
        }
    }

    &__filter{
        font-size: inherit;
        padding: 0.5rem;
        transition: all 400ms;
        border: 2px solid gray;
        
          &:focus{
            outline: none;
            border-color: $main;
        }
    }
}

// card

.card{
    width: 15rem;
    height: 18rem;
    position: relative;
    transition: 800ms ease-in;
    cursor: pointer;
    background-color: white;
    z-index: 2;
    border-radius: 5px;

    // @media only screen and (max-width:500px){
    //     width: 100%;
    //     height: 30rem;
    // }

    &::before{
        content: '';
        position: absolute;
        top: -2px;
        left: -2px;
        right: -2px;
        bottom: -2px;
        background-color: $main;
        filter: blur(1rem);
        animation: rotateGradient 2s infinite ease-in alternate;
        z-index: -1;
    }




    // CARD STYLES


    &__cover{
        overflow: hidden;
        height: 50%;
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
    }

    &__img{
        display: block;
        object-fit: cover;
        max-width: 100%;
        border-radius: 5px;
        transform: scale(1.1);
        transition: 300ms;
        &:hover{
            transform: scale(1);
        }
    }

    &__text{
        height: 50%;
        background-color: black;
        color: white;
        text-align: center;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    &__title{
        font-size: 1.1rem;
        text-align: center;
        text-transform: capitalize;
    }

    &__link{
        display: inline-block;
        font-size: 1.5rem;
        transition: all 300ms ease-in;
        &:hover{
            color: $main;
            transform: scale(1.1);
        }
    }
    
}

.showcase{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(15rem,1fr));
    grid-gap: 2rem;

    @media only screen and (max-width:500px){
        justify-items: center;
    }

}

.footer{
    padding: 1rem 0;
    background-color: black;

    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__img{
        width: 4rem;
    }

    &__links{

    }

    &__link{
        font-size: 2rem;
        margin-left: 1rem;
        color: white;

        &:hover{
            color: $main;
        }
    }

    &__note{
        font-size: 0.7rem;
        color: gray;

        a{
            &:hover{
                color: white;
            }
        }
    }
}

// state

.lightTheme{
    background-color: white;
    color: black;
}

@keyframes rotateGradient{
    0%{
        transform: scale(1);
    }

    100%{
        transform: scale(1.1);  
    }
}